[Unit]
Description=Synchronize notes with Google Drive
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/linuxbrew/.linuxbrew/bin/rclone bisync gdrive: %h/projects/personal/notes --config=%h/.config/rclone/rclone.conf --exclude=/.git/** --exclude=/.DS_Store --exclude=/.tmp.drivedownload/** --exclude=/.tmp.driveupload/** --resilient --recover --max-lock=2m
