# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

# {{ if eq .chezmoi.os "darwin" -}}

tap "hougesen/tap"
tap "felixkratz/formulae"
brew "felixkratz/formulae/borders"
brew "felixkratz/formulae/sketchybar"
tap "nikitabobko/tap"
tap "oven-sh/bun"
tap "teamookla/speedtest"

# General
brew "nushell"
brew "starship"
brew "difftastic"
brew "git-delta"
brew "bat"
brew "eza"
brew "dua-cli"
brew "gping"
brew "fastfetch"
brew "bottom"
brew "zoxide"
brew "fd"
brew "ripgrep"
brew "fzf"
brew "just"
brew "fish"
brew "oven-sh/bun/bun"
brew "pnpm"
brew "mise"
brew "lazydocker"
brew "lazygit"
brew "docker"
brew "docker-compose"
brew "colima", restart_service: :changed
brew "gh"
brew "monolith"
brew "sherlock"
brew "speedtest"
brew "sshs"
brew "hyperfine"
brew "asciinema"
brew "tealdeer"
brew "yt-dlp"
brew "ffmpeg"
brew "trafilatura"
brew "tokei"
brew "spotify_player"
brew "bandwhich"
brew "topiary"

# Languages
brew "taplo"
brew "hougesen/tap/kdlfmt"

# Yazi deps
brew "poppler"
brew "chafa"
brew "sevenzip"
brew "jq"
brew "imagemagick"

# go tooling
brew "templ"
brew "golangci-lint"
brew "gopls"

# Casks
cask "raycast"
cask "eloston-chromium"
cask "mullvadvpn"
cask "linearmouse"
cask "utm"
cask "bitwarden"
cask "handbrake"
cask "transmission"
cask "localsend"
cask "battery"
cask "notion"
cask "iina"
cask "vlc"
cask "spotify"
cask "discord"
cask "whatsapp"
cask "telegram"
cask "slack"
cask "font-sf-pro"
cask "font-sketchybar-app-font"
cask "zed"
cask "visual-studio-code"
cask "android-commandlinetools"
cask "temurin"
cask "notunes"

# {{ else if eq .chezmoi.os "linux" -}}

tap "oven-sh/bun"
brew "oven-sh/bun/bun"
tap "teamookla/speedtest"
brew "teamookla/speedtest/speedtest"

# General
brew "bat"
brew "eza"
brew "fastfetch"
brew "bottom"
brew "zellij"
brew "bandwhich"
brew "lazydocker"
brew "lazygit"
brew "yazi"
brew "sevenzip"
brew "jq"
brew "poppler"
brew "fd"
brew "ripgrep"
brew "fzf"
brew "zoxide"
brew "resvg"
brew "imagemagick"

# {{ end -}}
