layout {
    default_tab_template split_direction="horizontal" {
        children

        pane size=1 borderless=true {
            // zjstatus v0.20.0
            // On MacOS, the plugin location cannot be https and should be local
            plugin location="file:~/.config/zellij/zjstatus.wasm" {
                color_fg_muted "#747272"
                color_fg       "#e4e4ef"
                color_bg       "#002633"

                format_left  "#[fg=$fg,bg=$bg]  {tabs}"
                format_space "#[bg=$bg]"
                format_right "{mode}"

                mode_locked       "#[fg=$fg,bg=$bg]    " // ctrl-g (in all mode)
                mode_scroll       "#[fg=$fg,bg=$bg]    " // [ (in tmux mode)
                mode_enter_search "#[fg=$fg,bg=$bg]    " // / (in scroll mode)
                mode_search       "#[fg=$fg,bg=$bg] [c: case-sensitivity, w: wrap, o: wholeworld]    "
                mode_rename_tab   "#[fg=$fg,bg=$bg]    " // , (in tmux mode)
                mode_rename_pane  "#[fg=$fg,bg=$bg]    "
                mode_prompt       "#[fg=$fg,bg=$bg]    "
                mode_tmux         "#[fg=$fg,bg=$bg] ?   " // ctrl-e (in normal mode)

                hide_frame_except_for_search true
                hide_frame_except_for_scroll true

                tab_normal               "#[fg=$fg_muted,bg=$bg,bold]  {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}  "
                tab_active               "#[fg=$fg,bg=$bg,bold]  {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}  "
                tab_fullscreen_indicator " " // z (in tmux mode)
                tab_sync_indicator       " " // s (in tmux mode)
                tab_floating_indicator   " " // f (in tmux mode)
            }
        }
    }
}
