layout {
    pane split_direction="horizontal" {
        pane
    }

    
    pane size=1 borderless=true {
        // zjstatus v0.16.0
        // On MacOS, the plugin location cannot be https and should be local
        plugin location="file:~/.config/zellij/zjstatus.wasm" {
            format_left  "#[fg=#e4e4ef,bg=#282828]  {tabs}"
            format_space "#[bg=#282828]"
            format_right "{mode}"

            mode_locked       "#[fg=#e4e4ef,bg=#282828]    "
            mode_scroll       "#[fg=#e4e4ef,bg=#282828]    "
            mode_enter_search "#[fg=#e4e4ef,bg=#282828]    "
            mode_search       "#[fg=#e4e4ef,bg=#282828]    "
            mode_rename_tab   "#[fg=#e4e4ef,bg=#282828]    "
            mode_rename_pane  "#[fg=#e4e4ef,bg=#282828]    "
            mode_prompt       "#[fg=#e4e4ef,bg=#282828]    "
            mode_tmux         "#[fg=#e4e4ef,bg=#282828] ?   "

            tab_normal               "#[fg=#747272,bg=#282828]  {name} {fullscreen_indicator}{sync_indicator}  "
            tab_active               "#[fg=#e4e4ef,bg=#282828]  {name} {fullscreen_indicator}{sync_indicator}  "
            tab_fullscreen_indicator " "
            tab_sync_indicator       " "
        }
    }
}
