# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

[tools]
go = "latest"
node = "lts"
python = "latest"
rust = "latest"
# {{ if eq .chezmoi.os "darwin" -}}
ruby = "latest"
"gem:kamal" = "latest"
# {{- end }}
terraform = "latest"

[settings]
disable_hints = ["outdated_bump"]
idiomatic_version_file_enable_tools = ["node"]
env_shell_expand = true
