"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  # https://yazi-rs.github.io/docs/tips/#dropping-to-shell
  # prompt will say "in yazi", see starship conf file
  { on = "!", run = 'shell -- zellij action new-pane --floating -- bash -c "export YAZI_ID=$YAZI_ID; exec $SHELL"', desc = "Open shell here" },
  # https://yazi-rs.github.io/docs/tips/#cd-to-git-root
  { on = ["g", "r"], run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"', desc = "Change directory to git root" },
  # https://github.com/yazi-rs/plugins/tree/main/smart-enter.yazi
  { on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
  # https://github.com/yazi-rs/plugins/tree/main/jump-to-char.yazi
  { on = "f", run = "plugin jump-to-char", desc = "Jump to char" },
  # https://github.com/AnirudhG07/custom-shell.yazi
  { on = ["'", ";"], run = "plugin custom-shell -- auto --interactive", desc = "custom-shell as default, interactive" },
  { on = ["'", ":"], run = "plugin custom-shell -- auto --interactive --block", desc = "custom-shell as default, interactive, block" },
  { on = ["'", "h"], run = "plugin custom-shell history", desc = "Show custom-shell history" },
  { on = ["'", "z"], run = "plugin custom-shell -- custom nu 'zed $env.PWD'", desc = "Run Zed in current directory" },
  # chezmoi (with notifications) - using 'C' prefix for "Chezmoi"
  { on = ["C", "a"], run = "plugin chezmoi-cmd -- add", desc = "chezmoi: add file to source state" },
  { on = ["C", "t"], run = "plugin chezmoi-cmd -- add --template", desc = "chezmoi: add as template" },
  { on = ["C", "e"], run = "plugin chezmoi-cmd -- add --encrypt", desc = "chezmoi: add and encrypt" },
  { on = ["C", "f"], run = "plugin chezmoi-cmd -- forget", desc = "chezmoi: forget/remove from source state" },
  { on = ["C", "p"], run = "plugin chezmoi-cmd -- apply", desc = "chezmoi: apply to destination" },
  { on = ["C", "r"], run = "plugin chezmoi-cmd -- re-add", desc = "chezmoi: re-add current state" },
  # Extra gotos
  { on = ["g", "C"], run = "cd ~/.local/share/chezmoi", desc = "Go ~/.local/share/chezmoi" },
  { on = ["g", "w"], run = "cd ~/work", desc = "Go ~/work" },
  { on = ["g", "p"], run = "cd ~/personal", desc = "Go ~/personal" },
  { on = ["g", "P"], run = "cd ~/Pictures", desc = "Go ~/Pictures" },
  { on = ["g", "m"], run = "cd ~/Movies", desc = "Go ~/Movies" },
  { on = ["g", "D"], run = "cd ~/Documents", desc = "Go ~/Documents" },
  { on = ["g", "e"], run = "arrow bot", desc = "Move cursor to the bottom" },
  # Help (lazygit inspired)
  { on = "?", run = "help", desc = "Open help" },
]

[input]
prepend_keymap = [
  { on = "<Esc>", run = "close", desc = "Cancel input" },
]

[help]
prepend_keymap = [
  { on = "/", run = "filter", desc = "Apply a filter for the help items" },
]
